<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>
        Affiliate | Operator
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/admin.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>

<body>
    <!-- Header Starts here -->
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="logo"></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="notification">
                    <div class="row notification-row">
                        <p class="notif-name"> Hi, <b> {{company.name}} </b></span></p>
                        <span class="notif"><i class="fa fa-bell" aria-hidden="true"></i></span>
                    </div>
                    <div class="row month">
                        Your {{month}} stats
                    </div>
                    <div class="row">
                        <ul class="stats-list">
                            <li>Sign Ups <br> 0</li>
                            <li>FTD <br> 0</li>
                            <li><button class="btn">Details</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Ends here -->
        <!-- Navbar starts here -->
        <div class="container-fluid">
            <div class="row nav-pills-row">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-stats-tab" data-toggle="pill" href="#pills-stats" role="tab"
                            aria-controls="pills-stats" aria-selected="false">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-campaign-tab" data-toggle="pill" href="#pills-campaign" role="tab"
                            aria-controls="pills-campaign" aria-selected="false">Campaigns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-deals-tab" data-toggle="pill" href="#pills-deals" role="tab"
                            aria-controls="pills-deals" aria-selected="false">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab"
                            aria-controls="pills-payment" aria-selected="false">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-promotions-tab" data-toggle="pill" href="#pills-promotions"
                            role="tab" aria-controls="pills-promotions" aria-selected="false">Promotions</a>
                    </li>
                    <li class="nav-item float-lg-right float-right profile-btn">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item float-lg-right float-right logout-btn">
                        <a class="nav-link" id="pills-logout-tab" data-toggle="pill" href="#pills-logout" role="tab"
                            aria-controls="pills-logout" onClick="" aria-selected="false">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- Navbar Ends here -->
            <!-- Page Content begins here -->
            <div class="container-fluid tab-content-container">
                <div class="tab-content" id="pills-tabContent">
                    <!-- Home Tab content begins herre -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="container">
                            <div class="row stats-row">
                                <div class="col-md-2">0
                                    <div class="box">Total Affiliates</div>
                                    <img class="tap" src="../assets/icons/affiliate_click.png" height="25" width="25"
                                        alt="Affiliate">
                                </div>
                                <div class="col-md-2">0
                                    <div class="box">New Affiliates</div>
                                    <img class="icons" src="../assets/icons/add-new-affiliate.png" height="25"
                                        width="25" alt="New Affiliate">
                                </div>
                                <div class="col-md-2">0
                                    <div class="box">Signups</div>
                                    <img class="icons" src="../assets/icons/list.svg" height="25" width="25"
                                        alt="Signups">
                                </div>
                                <div class="col-md-2">0
                                    <div class="box">FTD</div>
                                    <img class="icons" src="../assets/icons/credit-card.svg" height="25" width="25"
                                        alt="FTD">
                                </div>
                                <div class="col-md-2">0%
                                    <div class="box">Signup to deposit</div>
                                    <img class="icons" src="../assets/icons/double-angle-pointing-to-right.svg"
                                        height="20" width="20" alt="Right">
                                </div>
                                <div class="col-md-2 profit"> &euro; 0<br>
                                    <span class="span-class">&euro; Total Earning for the Month</span>
                                    <div class="box">Profit</div>
                                    <img class="icons" src="../assets/icons/funds.svg" height="25" width="25"
                                        alt="Cash">
                                </div>
                            </div>
                        </div>
                        <div class="container wrapper-container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card section-1">
                                        <div class="row">
                                            <img class="section_img" src="../assets/images/stats.png" height="40"
                                                width="40" alt="Stats">
                                            <span class="text-img"> Recent Signups</span>
                                        </div>
                                        <table class="payout-table mx-3 my-3">
                                            <thead>
                                                <th>Total Affiliates</th>
                                                <th>New Affiliates</th>
                                                <th>Signups</th>
                                                <th>FTD</th>
                                                <th>Avg Earnings Per Month</th>
                                                <th>Total Earnings Per Month</th>
                                            </thead>
                                            <tr>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>

                                            </tr>
                                        </table>

                                    </div>
                                    <div class="card section-2">
                                        <div class="row">
                                            <img class="section_img" src="../assets/images/pie-chart.png" height="40"
                                                width="40" alt="Stats">
                                            <span class="text-img"> Statistics Breakdown</span>
                                            <div class="dropdown stats-brerakdown">
                                                <button class="btn btn-light dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <span id="selected">Affiliates</span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" onClick="affiliates()">Affiliates</a>
                                                    <a class="dropdown-item" onClick="newAffiliates()">New
                                                        Affiliates</a>
                                                    <a class="dropdown-item" onClick="signUps()">Signups</a>
                                                    <a class="dropdown-item" onClick="ftds()">FTD</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <canvas id="myAffiliates" width="400" height="250"></canvas>
                                        </div>
                                    </div>
                                    <div class="card section-3">
                                        <div class="row">
                                            <img class="section_img" src="../assets/images/bar-graph.jpg" height="40"
                                                width="40" alt="Stats">
                                            <span class="text-img"> Past Month Stats</span>
                                            <div class="dropdown mothstats">
                                                <button class="btn btn-light dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <span id="monthstats">Profit</span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" onClick="profits()">Profit</a>
                                                    <a class="dropdown-item" onClick="registration()">Registration</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <canvas id="mySales" width="400" height="250"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="bannerboard">
                                        <img class="banner-board img-fluid" src="../assets/images/ads-1.jpg"
                                            alt="banner board">
                                    </div>
                                    <div class="advboard">
                                        <img class="banner-board img-fluid" src="../assets/images/ads-2.jpg"
                                            alt="banner board">
                                    </div>
                                    <div class="prizeboard">
                                        <img class="banner-board img-fluid" src="../assets/images/ads-3.png"
                                            alt="banner board">
                                    </div>
                                    <div class="card payment-card">
                                        <div class="row">
                                            <img class="section_img" src="../assets/icons/images.png" height="40"
                                                width="40" alt="Stats">
                                            <span class="text-img"> Latest Payments</span>
                                            <button class="payment-btn btn-sm">All Payments</button>
                                        </div>

                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">
                        <div class="container statistic-container">
                            <div class="card time-card">
                                <div class="row">
                                    <div class="col-lg-6 calendar-container">
                                        <b>Time Period</b>
                                        <div class="row">
                                            <input type="date" class="date hasDatepicker" name="today_date"
                                                id="today_date" max="23-08-2019">
                                            <input type="date" name="previous_date" id="previous_date" min="23-05-2019">
                                            <button class="btn btn-success">View</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 quick_dates">
                                        <b>Quick Months</b>
                                        <div class="row">
                                            <button class="months">Month 1</button>
                                            <button class="months">Month 2</button>
                                            <button class="months">Month 3</button>
                                            <button class="months">Month 4</button>
                                            <button class="months">Month 5</button>
                                        </div>
                                        <div class="row time-period">
                                            <button class="months">Today</button>
                                            <button class="months">Yesterday</button>
                                            <button class="months">This Year</button>
                                            <button class="months">Last Year</button>
                                            <button class="months">All Time</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- New container -->

                            <div class="container">
                                <div class="row stats-row">
                                    <div class="col-md-2">0
                                        <div class="box">Total Affiliates</div>
                                        <img class="tap" src="../assets/icons/affiliate_click.png" height="25"
                                            width="25" alt="Tap">
                                    </div>
                                    <div class="col-md-2">0
                                        <div class="box">New Affiliates</div>
                                        <img class="icons" src="../assets/icons/add-new-affiliate.png" height="25"
                                            width="25" alt="CPA">
                                    </div>
                                    <div class="col-md-2">0
                                        <div class="box">Signups</div>
                                        <img class="icons" src="../assets/icons/list.svg" height="25" width="25"
                                            alt="List">
                                    </div>
                                    <div class="col-md-2">0
                                        <div class="box">FTD</div>
                                        <img class="icons" src="../assets/icons/credit-card.svg" height="25" width="25"
                                            alt="FTD">
                                    </div>
                                    <div class="col-md-2">0%
                                        <div class="box">Signup to deposit</div>
                                        <img class="icons" src="../assets/icons/double-angle-pointing-to-right.svg"
                                            height="20" width="20" alt="Right">
                                    </div>
                                    <div class="col-md-2 profit"> &euro; 0<br>
                                        <span class="span-class total-earnings">&euro; Total Earning for the
                                            Month</span>
                                        <div class="box">Profit</div>
                                        <img class="icons" src="../assets/icons/funds.svg" height="25" width="25"
                                            alt="Cash">
                                    </div>
                                </div>
                            </div>

                            <!-- Table section -->
                            <div class="card table-card">
                                <div class="search">
                                    <div class="row">
                                        <label for="Search"> Search: <input type="text" table="table_name"></label>
                                    </div>
                                </div>

                                <table class="payout-table">
                                    <thead>
                                        <th aria-sort="ascending">Affiliates</th>
                                        <th>Signups</th>
                                        <th>FTD</th>
                                        <th>Rev payout</th>
                                        <th>CPL payout</th>
                                        <th>Total payout</th>
                                    </thead>
                                    <tr>
                                        <td>{{Message}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>

                                <table class="payout-table">
                                    <thead>
                                        <th aria-sort="ascending">Affiliates</th>
                                        <th>Signups</th>
                                        <th>FTD</th>
                                        <th>Rev payout</th>
                                        <th>CPL payout</th>
                                        <th>Total payout</th>
                                    </thead>
                                    <tr>
                                        <td>Total</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Statistic COntainer Ends here -->
                    <!-- Campaign container begins here -->
                    <div class="tab-pane fade" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">
                        <div class="card campaign-card">
                            <div class="container">
                                <h3>Campaigns</h3>
                            </div>
                            <table class='payout-table mx-4 my-2'>
                                <thead>
                                    <th>Offers</th>
                                    <th>Clicks</th>
                                    <th>Sign Ups</th>
                                    <th>FTD</th>
                                    <th>Rev Payout</th>
                                    <th>CPL Payout</th>
                                    <th>Total Payout</th>
                                </thead>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </table>
                            <table class='payout-table mx-4 my-2'>
                                <thead>
                                    <th>Offers</th>
                                    <th>Clicks</th>
                                    <th>Sign Ups</th>
                                    <th>FTD</th>
                                    <th>Rev Payout</th>
                                    <th>CPL Payout</th>
                                    <th>Total Payout</th>
                                </thead>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Campaign container ends here -->
                    <!-- Deal container begins here -->
                    <div class="tab-pane fade" id="pills-deals" role="tabpanel" aria-labelledby="pills-deals-tab">
                        <div class="card deals-card">
                            <div class="container">
                                <h3>Offers</h3>
                                <div class="row">
                                    <label class="deal-type" for="deal types"> <b>Deal Types</b></label>
                                    <div class="radio-class">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-dark active">
                                                <input type="radio" name="options" id="option1" autocomplete="off"
                                                    checked>
                                                All Deals
                                            </label>
                                            <label class="btn btn-outline-dark">
                                                <input type="radio" name="options" id="option2" autocomplete="off">
                                                Revshare
                                            </label>
                                            <label class="btn btn-outline-dark">
                                                <input type="radio" name="options" id="option3" autocomplete="off"> CPA
                                            </label>
                                            <label class="btn btn-outline-dark">
                                                <input type="radio" name="options" id="option3" autocomplete="off"> CPL
                                            </label>
                                        </div>
                                    </div>

                                    <button class="btn btn-outline-dark btn-sm upload-button" data-toggle="modal"
                                        data-target="#offerUpload"> Upload Deals</button>
                                    <div class="modal fade" id="offerUpload" tabindex="-1" role="dialog"
                                        aria-labelledby="offerUpload" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="offerUpload">Upload Deal</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="">
                                                        <div class="row mx-4">
                                                            <label for="newDeal">Choose Image:</label>
                                                            <input type="file" class="input_img" name="newDeal"
                                                                id="newDeal">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 mx-4 my-3">
                                                                <label for="Type of deal" class='deal-label'>Deal Type
                                                                    &nbsp;&nbsp;</label>
                                                                <select name="deal_types" id="deal-type" class="mx-4">
                                                                    <option value="revshare" id="revshare">Revshare
                                                                    </option>
                                                                    <option id="cpa" value="cpa">CPA</option>
                                                                    <option id="cpc" value="cpc">CPC</option>
                                                                    <option id="hybrid" value="hybrid">Hybrid</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-6 mx-2 my-n1">
                                                                <div class="container" id="rev-share">
                                                                    <label for="Revshare">Percentage: &nbsp;</label>
                                                                    <input width="50" type="number"
                                                                        id="revshare-percent" class="mx-4">&nbsp; %
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mx-2 my-n1">
                                                                <div class="container" id="cpa-container">
                                                                    <label for="Revshare">Amount: &nbsp;</label>
                                                                    <input width="50" class="mx-5" type="number" id="cpa-amount">
                                                                    &euro;
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mx-4 my-n1">
                                                                <div class="container" id="cpc-container">
                                                                    <div class="row">
                                                                        <label for="CPC">Percentage: &nbsp;</label>
                                                                        <input width="50" class="mx-4" type="number"
                                                                            id="cpc-percentage">%
                                                                        <label for="CPC" class="mx-2">Clicks: &nbsp;</label>
                                                                        <input width="50" type="number" id="cpc-clicks">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 mx-4 my-n1">
                                                                    <div class="container" id="hybrid-container">
                                                                        <div class="row">
                                                                            <label for="Hybrid">Clicks: &nbsp;</label>
                                                                            <input width="50" class="mx-4" type="number"
                                                                                id="hybrid-amount">&nbsp; &euro;
                                                                    </div>
                                                                </div>
                                                        </div>

                                                        <div class="row comments-row mx-4 my-3">
                                                            <label for="Details">Comments: &nbsp;</label>
                                                            <textarea id="deal-details" class="mx-4" rows="4" cols="50"></textarea>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="deals-search">
                                    <div class="row">
                                        <label class="label-deal" for="Search"><b> Search:</b> <input type="text"
                                                placeholder="Search Deals" table="capaign_deals"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container deal-container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card deal-card">
                                        <img src="../assets/images/Hajper.png" height="120" alt="Hajper">
                                        <div class="card-body deal-btn">
                                            <button class="btn-deals">10% Revshare</button>
                                            <button class="btn-details"> Details</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card deal-card">
                                        <img src="../assets/images/TurboVegas.png" height="120" alt="Turbo Vegas">
                                        <div class="card-body deal-btn">
                                            <button class="btn-deals">10% Revshare</button>
                                            <button class="btn-details"> Details</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card deal-card">
                                        <img src="../assets/images/Speedy Casino.png" height="120" alt="Speedy Casino">
                                        <div class="card-body deal-btn">
                                            <button class="btn-deals">10% Revshare</button>
                                            <button class="btn-details"> Details</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card deal-card">
                                        <img src="../assets/images/Hyper Casino.png" height="120" alt="Hyper Casino">
                                        <div class="card-body deal-btn">
                                            <button class="btn-deals">10% Revshare</button>
                                            <button class="btn-details"> Details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                        <div class="card payment-tab">
                            <div class="container">
                                <h3>Payments</h3>
                            </div>
                            <table class="payment-table">
                                <thead>
                                    <th aria-sort="ascending">Period</th>
                                    <th>Created</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </thead>
                                <tr>
                                    <td>{{Message}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="empty-bin"></div>
                    </div>
                    <div class="tab-pane fade" id="pills-promotions" role="tabpanel"
                        aria-labelledby="pills-promotions-tab">
                        <div class="card deals-card">
                            <div class="container">
                                <h3>Promotions</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card deals-card">
                            <div class="container">
                                <h3>Profile</h3>
                            </div>
                        </div>
                        <div class="container">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#account_info"
                                        role="tab" aria-controls="home" aria-selected="true">Account Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#contact_info"
                                        role="tab" aria-controls="profile" aria-selected="false">Contact Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#account_number"
                                        role="tab" aria-controls="contact" aria-selected="false">Account Number</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#payment_info"
                                        role="tab" aria-controls="contact" aria-selected="false">Payment Info</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="account_info" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="card">
                                        <table class="user-info-1">
                                            <tr>
                                                <td> User Name
                                                    <p class="small_text">You cant change user name</p>
                                                </td>
                                                <td> {{User Name}}</td>
                                            </tr>
                                            <tr>
                                                <td> Display Name
                                                </td>
                                                <td><input type="text" class="display_name" id="display_name"></td>
                                            </tr>
                                            <tr>
                                                <td> Password
                                                    <p class="small_text">Leave it blank if you dont want to change</p>
                                                </td>
                                                <td><input type="password" class="password" id="password"></td>
                                            </tr>
                                            <tr>
                                                <td> Receive newsletter per email?
                                                </td>
                                                <td><label class="switch">
                                                        <input type="checkbox" value="vat_num" checked>
                                                        <span class="slider round"></span>
                                                    </label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td><button> Update</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact_info" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="card">
                                        <table class="user-info-1">
                                            <tr>
                                                <td> First Nme
                                                </td>
                                                <td><input type="text" class="first_name" id="first_name"></td>
                                            </tr>
                                            <tr>
                                                <td>Last Name
                                                </td>
                                                <td><input type="text" class="last_name" id="last_name"></td>
                                            </tr>
                                            <tr>
                                                <td> Date of Birth
                                                </td>
                                                <td>
                                                    <div class="row" style="margin-left: 0em;">
                                                        <input type="number" class="date" id="date" name="quantity"
                                                            min="1" max="31">
                                                        <input type="number" class="month" id="month" name="quantity"
                                                            min="1" max="12">
                                                        <input type="number" class="year" id="year" name="quantity"
                                                            max="2019">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Phone Number
                                                </td>
                                                <td><input type="Number" class="phone_number" id="phone_number"></td>
                                            </tr>
                                            <tr>
                                                <td> Email
                                                </td>
                                                <td><input type="email" class="email" id="email"></td>
                                            </tr>
                                            <tr>
                                                <td>Skype
                                                </td>
                                                <td><input type="skype_mail" class="skype_mail" id="skype_mail"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td><button> Update</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account_number" role="tabpanel"
                                    aria-labelledby="contact-tab">
                                    <div class="card">
                                        <table class="user-info-1">
                                            <tr>
                                                <td> Company Name / Account Owner
                                                </td>
                                                <td><input type="text" class="company_name" id="company_name"></td>
                                            </tr>
                                            <tr>
                                                <td> Address
                                                </td>
                                                <td><input type="text" class="address" id="address"></td>
                                            </tr>
                                            <tr>
                                                <td> Postcode
                                                </td>
                                                <td><input type="text" class="postcode" id="postcode"></td>
                                            </tr>
                                            <tr>
                                                <td>City
                                                </td>
                                                <td><input type="text" class="city" id="city"></td>
                                            </tr>
                                            <tr>
                                                <td>Country
                                                </td>
                                                <td><input type="text" class="country" id="country"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td><button> Update</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="payment_info" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="container payment-info"><span class="general">General</span>
                                        <div class="card">
                                            <table class="user-info-1">
                                                <tr>
                                                    <td> Payment Method
                                                    </td>
                                                    <td>
                                                        <div class="dropdown payment-dropdown">
                                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                Please select payment method
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="#">Please select payment
                                                                    method</a>
                                                                <a class="dropdown-item" href="#">Bankwire</a>
                                                                <a class="dropdown-item" href="#">Skrill/
                                                                    Moneybookers</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Tax Registered
                                                    </td>
                                                    <td><input type="text" class="tax_num" id="tax_num"></td>
                                                </tr>
                                                <tr>
                                                    <td> Vat Number
                                                    </td>
                                                    <td><label class="switch">
                                                            <input type="checkbox" value="vat_num" checked>
                                                            <span class="slider round"></span>
                                                        </label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    </td>
                                                    <td><button> Update</button></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy; CopyRight Blockmatrix
    </footer>


    <script src="../scripts/admin.js"></script>
</body>

</html>