html {
  height: 100vh;
}
body {
    background-image: linear-gradient(to bottom, rgba(166, 132, 211, 0.52), rgba(182, 211, 128, 0.52)),
      url("../assets/images/poker-1.png");
    height: 100vh !important;
    background-size: 100% !important;
  }

  .card {
    max-width: 50%;
    margin: 10% auto;
    padding: 4em;
  }
  
  .btn {
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .card h2 {
      text-align: left !important;
      margin-bottom: 2em;
  }
  
  footer {
    background-color: azure;
    width: 90%;
    margin: 0 5%;
    margin-top: 15em;
    border-radius: 8px;
    margin-bottom:0 !important;
    position: fixed;
    height: 2em;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer p {
    padding-top: 4px;
    margin-left: 2em;
}